/.history/
/.idea/
/.mypy_cache/
/.pytest_cache/
/build/
/docs/build/.doctrees/
/docs/build/doctrees/
/docs/build/pdf/.doctrees/
/docs/build/pdf/manual.rtc
/docs/build/pdf/manual.stylelog
/iotemplatelib.egg-info/
*.log
.coverage
.pytest_cache
.settings.io_template_lib.toml
Pipfile.lock
__pycache__
coverage.xml
